/* ===== HEADER ===== */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #23232e;
    height: 8vh;
}

/* ===== MENU ===== */

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: 8vh;
}

main {
    background: url("bg.jpg") no-repeat center center;
    background-size: cover;
    height: 92vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

body {
    font-family: Arial, sans-serif;
    background: #101417;
    color: #fff;
}

.container {
    max-width: 600px;
    margin: auto;
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input,
textarea,
select,
button {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

.poster-preview {
    margin-top: 10px;
    text-align: center;
}

.poster-preview img {
    max-width: 100%;
    border-radius: 8px;
    display: nome;
}

.counter {
    font-size: 12px;
    text-align: right;
    color: #666;
}

.success {
    margin-top: 15px;
    color: green;
    font-weight: bold;
    display: none;
}

button {
    margin-block-start: 20px;
    background: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #0056b3;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
    .container {
        padding: 20px;
    }


    h1 {
        font-size: 22px;
    }


    input,
    textarea,
    select,
    button {
        font-size: 15px;
    }
}


@media (max-width: 480px) {
    body {
        padding: 10px;
    }


    .container {
        padding: 15px;
        border-radius: 8px;
    }


    h1 {
        font-size: 20px;
    }


    label {
        font-size: 14px;
    }


    button {
        font-size: 15px;
        padding: 12px;
    }
}