body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #0d0d0d;
    color: #f0f0f0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

/*Menu de Navegação*/
.menu-bg {
    background: rgb(0, 0, 0);
    margin-right: -9px;
    margin-left: -9px;
}

.menu-hamburguer {
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 4;
}

#menu-toggle {
    display: none;
}

.menu-icon {
    width: 35px;
    height: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 5;
    position: relative;
}

.linha {
    height: 4px;
    background: red;
    border-radius: 2px;
    transition: all 0.3 ease;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.95);
    transform: scale(0);
    transition: transform 0.5s ease-in-out;
    z-index: 2;
}

#menu-toggle:checked + .menu-icon .linha:nth-child(1) {
    transform: rotate(45deg) translate(13px, 13px);
  }
  
  #menu-toggle:checked + .menu-icon .linha:nth-child(2) {
    opacity: 0;
  }
  
  #menu-toggle:checked + .menu-icon .linha:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  
  #menu-toggle:checked ~ .overlay {
    transform: scale(1);
  }

  .menu {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    text-align: center;
  }

  .menu ul {
    list-style: none;
    padding: 0;
    padding: 0;
  }

  .menu ul li {
    margin: 20px 0;
  }

  .menu ul li a {
    text-decoration: none;
    font-size: 2rem;
    color: darkred;
    transition: color 0.3s ease;
  }

  .menu ul li a:hover {
    color: #ffffff;
  }



/*TOP fimes de 2025*/
h1 {
    color: white;
}
.atual {
    display: flex;
    overflow-x: auto;
    margin-top: -30px;
    margin-left: -15px;
    gap: 15px;
    padding: 20px;
    scroll-behavior: smooth;
}

.atual::-webkit-scrollbar {
    height: 8px;
}

.atual::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 4px;
}

.atual img {
    height: 250px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.atual img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.3);
}

/*Top filmes da hsitoria*/

.historia {
    display: flex;
    overflow-x: auto;
    margin-top: -30px;
    margin-left: -15px;
    gap: 15px;
    padding: 20px;
    scroll-behavior: smooth;
}

.historia::-webkit-scrollbar {
    height: 8px;
}

.historia::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 4px;
}

.historia img {
    height: 250px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.historia img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.3);
}
